/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENSE file at the top-level module directory for licensing details.
 */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$layout-navbar-height: $nav-link-height !default;
$layout-navbar-logo-height: $navbar-brand-height !default;
$layout-navbar-spacing-y: ($layout-navbar-height - $layout-navbar-logo-height) * 0.5 !default;
