@import "components/variables";

ul {
  padding-left: $spacer;
}

#logo {
  margin: ($spacer * 0.5) $spacer;
}

#main-navigation {
  .navbar-brand {
    padding-top: $layout-navbar-spacing-y;
    padding-bottom: $layout-navbar-spacing-y;
  }

  img {
    height: $layout-navbar-logo-height;
  }
}

.footer {
  margin-bottom: ($spacer * 0.5);
}
